{% extends 'master' %}

{% block content %}
		
		{% include "headerLoggedIn.njk" %}

		{% include "headerLobby.njk" %}

		<div style = 'display: block'>
			Welcome, {{ user.attributes.username }}
		</div>

		{{ form.open({url: '/newtable', method: 'POST'}) }}

			{{ csrfField }}

			{% if error %}
				{{ form.label('error', error) }}
			{% endif %}

			<div class="field">
				{{ form.label('name', 'Enter game name') }}
				{{ form.text('name') }}
			</div>

			<div class="field">
				{{ form.label('game_id', 'Choose game type') }}
				{{ form.select('game_id', games) }}
			</div>

			<div class="button">
				{{ form.submit('Create') }}
			</div>

		{{ form.close() }}

{% endblock %}
