{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <br>
      <a href = '/signup'>sign up</a>
      <br>
      <a href = '/login'>log in</a>
    </div>
  </div>
{% endblock %}
