{% extends 'master' %}

{% block content %}
		<div style = 'display: block'>
			<a href = '/logout'>log out</a>
		</div>
		<div style = 'display: block'>
			Welcome, {{ user.attributes.username }}
		</div>
		<div style = 'display: block'>
			<a href = '/gamelobby'>Game Lobby</a>
		</div>

{% endblock %}
