{% extends 'master' %}

{% block content %}
		
		{% include "headerLoggedIn.njk" %}

		{% include "headerLobby.njk" %}

		<div style = 'display: block'>
			Game : {{ game.attributes.name }}
		</div>

		<div style = 'display: block'>
			Welcome to table '{{ table.attributes.name }}', {{ user.attributes.username }}
		</div>

{% endblock %}
